<ion-view title="Login" hide-nav-bar="true" id="page1">
  <ion-content padding="true" style="background: url(img/S9lqcB38S6KdllPnImlO_login.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <div>
      <img src="img/mOjDyrUCS9ePgNNIJTUk_logo.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 57px;"></div>
    <form id="login-form4" class="list">
      <label class="item item-input" id="login-input7" name="Username">
        <input type="email" placeholder="اسم المستخدم/Username">
      </label>
      <label class="item item-input" id="login-input8" name="Password">
        <input type="password" placeholder="كلمة السر/Password">
      </label>
      <a ui-sref="menu.main" id="login-button5" class="button button-balanced  button-block">Login</a>
    </form>
  </ion-content>
</ion-view>