<ion-view title="Main" hide-back-button="true" id="page2" style="background-color:#FFFFFF;">
  <ion-content padding="true" class=" manual-remove-top-padding has-header">
    <div id="main-container2">
      <div>
        <img src="img/P6nt8xnTVOADmz0AbNgg_img001.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
      </div>
    </div>
    <form id="main-form5" class="list">
      <label class="item item-input" id="main-input9" name="input">
        <input type="text" placeholder="كلمة">
      </label>
      <div id="main-button-bar1" class="button-bar">
        <button id="main-button9" class="button button-assertive  button-block">حذف</button>
        <button id="main-button10" class="button button-positive  button-block">اقترح</button>
      </div>
    </form>
  </ion-content>
</ion-view>