<ion-view title="Profile" hide-back-button="true" id="page3">
  <ion-content padding="true" style="background: url(img/vOGqm3HOT1yEwubNcJkQ_paper_tear.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 210px;"></div>
    <div id="profile-container3" class="transparent">
      <div class="list card" id="profile-card21">
        <ion-item class="item-avatar" id="profile-list-item6">
          <img src="img/I2faXYbmTtWHudrbPXSV_favicon.jpg">
          <h2>William Held</h2>
          <p>Join Date</p>
        </ion-item>
        <div class="item item-body" id="profile-list-item-container2">
          <ion-list id="profile-list5">
            <ion-item class="item-icon-left balanced" id="profile-list-item9">
              <i class="icon ion-social-usd"></i>9999999
              <span class="item-note">Balance</span>
            </ion-item>
            <ion-item class="item-icon-left royal" id="profile-list-item26">
              <i class="icon ion-star"></i>100
              <span class="item-note">Confidence</span>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>